* {
    box-sizing: border-box
}

nav {
    background-color: #3D3D3D;
    padding: 25px;
    color: white;
    text-align: center;
}

/* .search-column {
    margin: auto;
} */

.search {
    font-size: 2rem;
    margin-bottom: 0;
    color: #3D3D3D;
    font-weight: 800;
}

.search-history {
    margin: auto;
}

.card-title {
    font-weight: 800;
    font-size: 2rem;
    color: #3D3D3D;
}

.current-conditions {
    border-style: solid;
    border-color: #3D3D3D;
    border-width: 2px;
    padding: 14px;
    margin: 10px;
}

li {
    color: #3D3D3D;
    font-size: 1.75rem;
}

.search-btn {
    padding: 5px;
    width: 100%;
    margin-top: 5px;
}

.form-input {
    width: 100%;
}

.btn {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
}

.uv-favorable{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    background-color: red;
    border-radius: 5px;
    color: white;
}

.day {
    border-style: solid;
    border-color: #3D3D3D;
    border-width: 2px;
    width: 175px;
    height: 300px;
    
}